.bottomadspace{
	width:100%;
	background-color:#F6F9F4;
	padding-top:80px;
	padding-bottom:80px;
	text-align:center;
}
.adspace_top{
	width:100%;
	background-color:#F6F9F4;
	padding-top:40px;
	padding-bottom:40px;
	text-align:center;
}