.dropbttn{background-color:#00FF01;}

.content{
	display:flex;
	flex-direction:row;
	
}
.colA{
	width:300px;
	background-color:#F6F9F4;
	padding-left:20px;
}
.colA input{

}
.addtext{text-decoration:none; text-align:left;}
.addtext:hover{color:#00FF01;}
.removetext{text-decoration:none; text-align:right;}
.removetext:hover{color:#00FF01;}
#add1{display:block;}
#remove1{display:none;}
#add2{display:block;}
#remove2{display:none;}
#add3{display:block;}
#remove3{display:none;}
#add4{display:block;}
#remove4{display:none;}
#add5{display:block;}
#remove5{display:none;}


#infobutton{
margin-right:20px;
margin-left:5px;
}

.popup .popuptext{
	display:none;
	width:150px;
	height:auto;
	padding:1px;
	z-index:-1;
	display:absolute;
}
.popup .show{display:inline-block;}

.popup{
	position:relative;
	display:inline-block;
	cursor:pointer;
}
.popup i:hover{color:#00FF01;}
.popup i{padding-right:10px;}

.colB{
	width:100%;
	background-color:#white;
	padding-left:30px;
	padding-right:30px;
	padding-bottom:30px;
}

.colC{
	width:300px;;
	background-color:#F6F9F4;
	padding-left:20px;
}

